* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

/*HEADER*/
.header-container {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
  gap: 20px;
}

.links {
  color: black;
  display: flex;
  gap: 40px;
  margin-left: 15px;
}

.right-header {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
  gap: 20px;
}

.button {
  background-color: #0061ff;
  color: white;
  font-size: 20px;
  padding: 5px;
}

/*MAIN*/
.blue-container {
  background-color: #b4d0e7;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 65%;
  height: 350px;
  margin: 0 auto;
}

.jumbo-title {
  display: block;
  text-align: left;
  font-size: 35px;
}

.jumbo-text {
  width: 50%;
  display: block;
  text-align: left;
  padding: 15px;
}

.jumbo-img {
  width: 50%;
  display: block;
  text-align: right;
  position: relative;
  top: -170px;
  right: -450px;
}
